<footer class="w-100 bg-light mt-5 d-flex align-items-center justify-content-around">
  <div class="icons">
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-square"></i>
  </div>
  <div>
    Portal de Receitas &copy; todos os direitos reservados
  </div>
  <div>
    Desenvolvido por Victor
  </div>
</footer>