.header {
  background-color: aquamarine;
}

.section-one {
  background-color: blueviolet;
}

.section-two {
  background-color: salmon;
}

.section-three {
  background-color: sandybrown;
}

.footer {
  background-color: aquamarine;
}

.header, .section-one, .section-two, .section-three, .footer { 
  height: 150px;
  margin-bottom: 15px;
}
