.list-tasks {
  width: 90%;
  margin: 20px auto;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.no-tasks { 
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #bbb;
}