const connectionString = 'mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.bfkrt.mongodb.net/YOUR_DATABASE?retryWrites=true&w=majority'
const config = {
  useNewUrlParser: true, 
  useUnifiedTopology: true 
}

const connection = {
  connectionString,
  config,
}

module.exports = connection